{{! template-lint-disable }}
<div>
 	<h1 align="center">Login Page</h1>
 	<form id="testForm">
 	<div>
 		<span> Email or Phone : </span>
 		<span>
   			{{input type="text" name="email" value=email}}
   		</span>
   	</div>
  
   <div>
         <span> Username: </span>
      <span>
      {{input type="text" name="userName" value=userName}}
      </span>
   </div>
   <div>
         <span> Password: </span>
      <span>
     {{input type="password" name="password" value=password}}
           
      </span>
   </div>
   <div>
   <button type="button" {{action "doLogin"}}>Login</button>
    <button type="button" {{action "doSignUp"}}>Sign Up</button>
</div>
   
</form>
</div>                               