{{! template-lint-disable }}
<div>
 	<h1 align="center">Login Page</h1>
 	<form id="testForm">
 	<div style="margin-bottom: 24px; margin-left: 30px;">
 		<span> Email or Phone : </span>
 		<span>
   			{{input type="text" name="email" value=email}}
   		</span>
   	</div>
  
   <div style="margin-bottom: 24px; margin-left: 30px;">
         <span> Username: </span>
      <span>
      {{input type="text" name="userName" value=userName}}
      </span>
   </div>
  <div style="margin-bottom: 24px; margin-left: 30px;">
         <span> Password: </span>
      <span>
         {{input type="password" name="password" value=password}}     
      </span>
   </div>
   <!-- <div style="margin-bottom: 24px; margin-left: 30px;">
      <span>
         <input type="file" id="input"/>
      </span>
   </div> -->
  <!-- <div style="margin-bottom: 24px; margin-left: 30px;">
     <span>
         Select date of birth
      </span>
      <span>
         {{bootstrap-datepicker value=expiresAt}}
      </span>
   </div> -->
    
   <div style="margin-bottom: 24px; margin-left: 30px;">
   <button type="button" {{action "doLogin"}}>Login</button>
    <button type="button" {{action "doSignUp"}}>Sign Up</button>
</div>
   
</form>
</div>                               