{{outlet}}
{{! template-lint-disable }}
<div>
	<p>
	 <h1>About</h1>
	 
  	</p>
  	<div>
 	
 	<form id="testForm">
 	<div>
         <span> Username : </span>
      <span>
      {{input type="text" name="userName" value=userName}}
      </span>
   </div>
  
   <div>
         <span> Address :</span>
      <span>
      {{input type="text" name="address" value=address}}
      </span>
   </div>

   <div>
         <span> Current City :</span>
      <span>
      {{input type="text" name="currentCity" value=currentCity}}
      </span>
   </div>

   <div>
         <span> Hometown :</span>
      <span>
      {{input type="text" name="hometown" value=hometown}}
      </span>
   </div>


   <div>
         <span> Landmark :</span>
      <span>
      {{input type="text" name="landmark" value=landmark}}
      </span>
   </div>
   <div>
         <span> Pincode : </span>
      <span>
     {{input type="text" name="pincode" value=pincode}}
           
      </span>
   </div>
   <div>
   <p><b>Work and Education</b> </p>

   <span> Education :</span>
      <span>
     {{input type="text" name="education" value=education}}
           
      </span>
      <br>

         <span> High School :</span>
      <span>
     {{input type="text" name="highSchool" value=highSchool}}
           
      </span>
      <br>

      <span> College :</span>
      <span>
     {{input type="text" name="college" value=college}}
           
      </span>


      </div>

      <div>
      <br>
         
         <span> Social Link :</span>
      <span>
      {{input type="text" name="sociallink" value=sociallink}}
      </span>
   </div>

   <div>
         <span> Language :</span>
      <span>
      {{input type="text" name="language" value=language}}
      </span>
   </div>

   <div>
         <span> About You :</span>
      <span>
      {{input type="text" name="about" value=about}}
      </span>
   </div>

   <div>
         <span> Other Names :</span>
      <span>
      {{input type="text" name="other" value=other}}
      </span>
   </div>

   <div>
         <span> Hobbies :</span>
      <span>
      {{input type="text" name="hobbies" value=hobbies}}
      </span>
   </div>

<div>
         <span> Professionsl Skills :</span>
      <span>
      {{input type="text" name="skills" value=skills}}
      </span>
   </div>


   <div>
   <p><b>Music</b> </p>
         <span> Artists :</span>
      <span>
      {{input type="text" name="music" value=music}}
      </span>
      
   </div>

   <div>
   <p><b>Books</b> </p>
         <span> Author :</span>
      <span>
      {{input type="text" name="book" value=book}}
      </span>
      
   </div>

   <div>
   <br>
         <span> TV programmes :</span>
      <span>
      {{input type="text" name="programmes" value=programmes}}
      </span>
      
   </div>





   <div>
   <p><b>Sports</b> </p>
         <span> Sports Teams :</span>
      <span>
      {{input type="text" name="team" value=team}}
      </span>
      <br>

      <span> Sports People :</span>
      <span>
      {{input type="text" name="people" value=people}}
      </span>
   </div>



   

   <div>
   <br>
         <span> Favourite Quotes :</span>
      <span>
      {{input type="text" name="quotes" value=quotes}}
      </span>
   </div>

   <div>
         <span> Life Events :</span>
      <span>
      {{input type="text" name="event" value=event}}
      </span>
   </div>

   <div>
         <span> Relationship :</span>
      <span>
      {{input type="text" name="relationship" value=relationship}}
      </span>
   </div>
<div>
  <button type="button" {{action "doCreate"}}>Create</button>
  </div>





</form>
</div>     
  	
 
</div>
