{{outlet}}{{! template-lint-disable }}
<div>
<p>
 <h1>About</h1>
 </p>
	<div>
	
    <form id="testForm">
<div style="margin-bottom: 24px; margin-left: 30px;">
     <span> User Id : </span>
  <span>
  {{input type="text" name="userId" value=userId}}
  </span>
</div>

<div style="margin-bottom: 24px; margin-left: 30px;">
     <span> Address :</span>
  <span>
  {{input type="text" name="address" value=address}}
  </span>
</div>

<div style="margin-bottom: 24px; margin-left: 30px;">
     <span> Current City :</span>
  <span>
  {{input type="text" name="currentCity" value=currentCity}}
  </span>
</div>

<div style="margin-bottom: 24px; margin-left: 30px;">
     <span> Hometown :</span>
  <span>
  {{input type="text" name="hometown" value=hometown}}
  </span>
</div>


<div style="margin-bottom: 24px; margin-left: 30px;">
     <span> Landmark :</span>
  <span>
  {{input type="text" name="landmark" value=landmark}}
  </span>
</div>
<div style="margin-bottom: 24px; margin-left: 30px;">
     <span> Pincode : </span>
  <span>
 {{input type="text" name="pincode" value=pincode}}
       
  </span>
</div>
<!-- <div>
 <span>
     Select date of birth
  </span>
  <span>
     {{bootstrap-datepicker value=expiresAt}}
  </span>
</div> -->
<div style="margin-bottom: 24px; margin-left: 30px;">
<p><b>Work and Education</b> </p>

<span> Education :</span>
  <span>
 {{input type="text" name="education" value=education}}
       
  </span>
  <br>

     <span> High School :</span>
  <span>
 {{input type="text" name="highSchool" value=highSchool}}
       
  </span>
  <br>

  <span> College :</span>
  <span>
 {{input type="text" name="college" value=college}}
       
  </span>
</div>

  <div style="margin-bottom: 24px; margin-left: 30px;">
  <br>
     
     <span> Social Link :</span>
  <span>
  {{input type="text" name="sociallink" value=sociallink}}
  </span>
</div>

<div style="margin-bottom: 24px; margin-left: 30px;">
     <span> Language :</span>
  <span>
  {{input type="text" name="language" value=language}}
  </span>
</div>

<div style="margin-bottom: 24px; margin-left: 30px;">
     <span> About You :</span>
  <span>
  {{input type="text" name="about" value=about}}
  </span>
</div>

<div style="margin-bottom: 24px; margin-left: 30px;">
     <span> Other Names :</span>
  <span>
  {{input type="text" name="other" value=other}}
  </span>
</div>

<div style="margin-bottom: 24px; margin-left: 30px;">
     <span> Hobbies :</span>
  <span>
  {{input type="text" name="hobbies" value=hobbies}}
  </span>
</div>

<div style="margin-bottom: 24px; margin-left: 30px;">
     <span> Professionsl Skills :</span>
  <span>
  {{input type="text" name="skills" value=skills}}
  </span>
</div>


<div style="margin-bottom: 24px; margin-left: 30px;">
<p><b>Music</b> </p>
     <span> Artists :</span>
  <span>
  {{input type="text" name="music" value=music}}
  </span>
  
</div>

<div style="margin-bottom: 24px; margin-left: 30px;">
<p><b>Books</b> </p>
     <span> Author :</span>
  <span>
  {{input type="text" name="book" value=book}}
  </span>
  
</div>

<div style="margin-bottom: 24px; margin-left: 30px;">
<br>
     <span> TV programmes :</span>
  <span>
  {{input type="text" name="programmes" value=programmes}}
  </span>
  
</div>

<div style="margin-bottom: 24px; margin-left: 30px;">
<p><b>Sports</b> </p>
     <span> Sports Teams :</span>
  <span>
  {{input type="text" name="team" value=team}}
  </span>
  <br>

  <span> Sports People :</span>
  <span>
  {{input type="text" name="people" value=people}}
  </span>
</div>

<div style="margin-bottom: 24px; margin-left: 30px;">
<br>
     <span> Favourite Quotes :</span>
  <span>
  {{input type="text" name="quotes" value=quotes}}
  </span>
</div>

<div style="margin-bottom: 24px; margin-left: 30px;">
     <span> Life Events :</span>
  <span>
  {{input type="text" name="event" value=event}}
  </span>
</div>

<div style="margin-bottom: 24px; margin-left: 30px;">
  <span>
     <input type="file" id="input"/>
  </span>
</div>
<div style="margin-bottom: 24px; margin-left: 30px;">
<button type="button" {{action "doCreate"}}>Create</button>
</div>

</form>
</div>     
	
</div>
